body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    min-height: 100vh;
    background-image: linear-gradient(#7fc8f8, #edf2fb);
    background-image: linear-gradient(#219ebc, #f72585);
    background-image: linear-gradient(#c55df6, #bccbfd);
    background-image: linear-gradient(#461177, #97dffc);
    background-image: linear-gradient(#acdcff, #e4a5ff);
    background-image: linear-gradient(#f7ebfd, #9b17ec);
    background-image: linear-gradient(#f1d6ff, #7b2cbf);
    background-image: linear-gradient(#ff9f1c, #277da1);
    background-image: linear-gradient(#abc4ff, #edf2fb);
    background-image: linear-gradient(#e0c3fc, #8e94f2);
    margin: 0;
    padding: 0;
    background-color: black;
    /* background-color: rgb(8, 129, 185); */
}



.container {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Changa', sans-serif;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(7px);
    position: relative;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.164);

}



.container .chld {
    width: 300px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 7px 1px rgb(255, 255, 255);

}

.container .chld:nth-child(2) {
    width: 90px;
    height: 45px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: 1s;
    /* padding-left: 22px; */
}

legend {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #11abcd;
    padding: 0%;
    margin: 0px;
    transition: color .5s;
}

form legend {
    color: #fb8500;
}

form input {
    transition: .2s;
    height: 35px;
    width: 230px;
    border: 2px solid #777;
    border-radius: 1px;
    font-family: sans-serif;
    color: rgb(104, 98, 98);
    padding-left: 20px;
}

form .sub {
    background-color: #fb8500;
    border: none;
    width: 100px;
    color: white;
    font-size: 16px;
    border-radius: 0px;
    padding: 0;
}

form a {
    color: rgb(46, 43, 43);
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

.d-none {
    display: none;
}

.btm {
    width: 90px;
    height: 45px;
    text-align: center;
    position: absolute;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: white;

    text-transform: capitalize;
}

#sigup .btm {
    color: #c55df6;
}

#login .btm {
    color: #7251b5;
}

#login .sub {
    background-color: #7251b5;
}

#sigup .sub {
    background-color: #c55df6;
}

#login legend {
    color: #7251b5;
}

#sigup legend {
    color: #c55df6;
}

form input:focus-visible {
    border: 2px solid red;
}



#login input:focus {
    outline: none !important;
    border-color: #7251b5de;
    box-shadow: 0 0 5px #7251b5;
    border-width: 1.2px;

}

#sigup input:focus {
    outline: none !important;
    border-color: #c55df6d7;
    box-shadow: 0 0 5px #c55df6;
    border-width: 1.2px;
}

form input {
    border-width: 1px;
}

.flow::before {
    content: "";
    width: 250px;
    height: 250px;
    background-color: #7251b5;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    top: 4px;
    left: 270px;
}

.flow::after {
    content: "";
    width: 220px;
    height: 220px;
    background-color: #c55df6;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    bottom: 5px;
    right: 270px;
}

/* .flow::before {
    top: 50px;
    left: 370px;
}

.flow::after {
    bottom: 50px;
    right: 360px;
} */